<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div><a href="celebrities/create">Click here to create a new celebrity</a></div>
<div><a href="celebrities">Click here to see all celebrities you created</a></div>
<div><a href="movies/create">Click here to create a new movie</a></div>
<div><a href="movies">Click here to see all movies you created</a></div>