<h2>Edit Movie</h2>
<form action="/movies/{{movie._id}}/edit" method="post">
<label for="movie-name">Movie name</label>
<input type="text" name="name"> <br>
<label for="movie-genre">Movie genre</label>
<input type="text" name="genre"> <br>
<label for="movie-plot">Movie plot</label>
<input type="text" name="plot"> <br>
<label for="movie-cast">Movie cast</label>
<input type="text" name="cast"> <br>


</form>